# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
uv.lock

# Virtual environment
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
logs/
*.log

# Environment files
.env

# Pytest cache
.pytest_cache/

# macOS
.DS_Store

# Docker
*.tar
